.page-main__flex {
    max-width: 1170px;
    max-height: 259px;
    padding: 30px;
    gap: 30px;
    display: flex;
    background-color: var(--bg-flexColor);
    list-style: none;
    margin: 0 auto;
}

.flex__item {
    width: 100vw;
    aspect-ratio: 1/0.78;
    background-color: var(--bg-flexItemColor);
}